# Maven related
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDEs and editors
/.idea
/*.iml
*.iws
/.vscode
*.code-workspace
*.sw?
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Logs
logs/
*.log
*.log.*
*.tmp

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak
*.swp
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Jenv file
.jenv

# Node.js
node_modules/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
ENV/

# Python
*.pyc

service-order/logs
service-car/logs
